# Disable UART output
CONFIG_ESP_CONSOLE_NONE=y

# Disable second core and bump CPU speed to 240MHz
CONFIG_FREERTOS_UNICORE=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Force some functions to be in IRAM (we'll later use noflash(*) anyways)
CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y

# Use IRQ level 4 for system interrupts
CONFIG_ESP_SYSTEM_CHECK_INT_LEVEL_4=y

# Disable IDF's watchdog timer
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT_EN=n

# Optimize for performance
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# @todo list :)
#CONFIG_ESP_SYSTEM_PANIC=CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT
#CONFIG_ESP_SYSTEM_PANIC=CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT

# Debugging
#CONFIG_ESP_CONSOLE_UART_CUSTOM=y
#CONFIG_ESP_CONSOLE_UART=y
#CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=y
#CONFIG_ESP_CONSOLE_UART_NUM=0
#CONFIG_ESP_CONSOLE_ROM_SERIAL_PORT_NUM=0
#CONFIG_ESP_CONSOLE_UART_TX_GPIO=13
#CONFIG_ESP_CONSOLE_UART_RX_GPIO=2
#CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
