[mcu bmcu]
serial: /dev/ttyUSB0

[output_pin bmcu_channel_low]
pin: bmcu:channel_low

[output_pin bmcu_channel_high]
pin: bmcu:channel_high

[output_pin bmcu_channel_mode]
pin: bmcu:channel_mode

[output_pin bmcu_channel_trigger]
pin: bmcu:channel_action_trigger_pin

[manual_stepper bmcu_channel_action]
dir_pin: bmcu:channel_action_dir_pin
step_pin: bmcu:channel_action_step_pin
endstop_pin: bmcu:channel_action_endstop_pin
rotation_distance: 1
microsteps: 1

[gcode_macro BMCU_ACTION_PREPARE]
gcode:
  {% set mode = params.MODE|default("")|lower %}
  {% set channel = params.CHANNEL|default(-1)|int %}
  {% if mode not in ["load", "unload"] %}
    {action_raise_error("BMCU_ACTION_PREPARE requires MODE=load or MODE=unload")}
  {% endif %}
  {% if channel < 0 or channel > 3 %}
    {action_raise_error("BMCU channel must be 0-3: two output pins cannot uniquely encode channel 4")}
  {% endif %}
  {% set low = channel % 2 %}
  {% set high = (channel // 2) % 2 %}
  SET_PIN PIN=bmcu_channel_low VALUE={low}
  SET_PIN PIN=bmcu_channel_high VALUE={high}
  {% if mode == "load" %}
    SET_PIN PIN=bmcu_channel_mode VALUE=0
  {% else %}
    SET_PIN PIN=bmcu_channel_mode VALUE=1
  {% endif %}

[gcode_macro BMCU_ACTION_TRIGGER]
gcode:
  SET_PIN PIN=bmcu_channel_trigger VALUE=0
  G4 P100
  SET_PIN PIN=bmcu_channel_trigger VALUE=1
  G4 P100
  SET_PIN PIN=bmcu_channel_trigger VALUE=0

[gcode_macro BMCU_ACTION_WAIT]
gcode:
  MANUAL_STEPPER STEPPER=bmcu_channel_action SET_POSITION=0
  MANUAL_STEPPER STEPPER=bmcu_channel_action MOVE=900 SPEED=10 STOP_ON_ENDSTOP=1

[gcode_macro BMCU_RUN]
gcode:
  {% set mode = params.MODE|default("")|lower %}
  {% set channel = params.CHANNEL|default(-1)|int %}
  BMCU_ACTION_PREPARE MODE={mode} CHANNEL={channel}
  BMCU_ACTION_TRIGGER
  BMCU_ACTION_WAIT

[gcode_macro BMCU_LOAD]
gcode:
  BMCU_RUN MODE=load CHANNEL={params.CHANNEL}

[gcode_macro BMCU_UNLOAD]
gcode:
  {% if params.CHANNEL is defined %}
    BMCU_RUN MODE=unload CHANNEL={params.CHANNEL}
  {% else %}
    BMCU_RUN MODE=unload CHANNEL=0
    BMCU_RUN MODE=unload CHANNEL=1
    BMCU_RUN MODE=unload CHANNEL=2
    BMCU_RUN MODE=unload CHANNEL=3
  {% endif %}
